<form method="POST" action="/api/search">
    <h1>Search Restaurant</h1>
    <b>Page : </b><input type="text" name="page"><br><br>
    <b>Per Page : </b><input type="text" name="perpage"><br><br>
    <b>Borough :</b> <input type="text" name="borough"><br><br>
    <input type="submit" value="Search">
</form>